<!-- views/partials/footer.ejs -->
<!-- Footer -->
<footer class="page-footer font-small primary-color">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-1">
          <div class="mb-3 flex-center">

            <a class="pl-3 pr-3">
              <p>Ruben Chevez</p>
            </a>
            <a class="pl-3 pr-3">
              <p>Tian Wang</p>
            </a>
            <a class="pl-3 pr-3">
              <p>Lucas Critch</p>
            </a>
            <a class="pl-3 pr-3"> 
              <p>Carlos Salcedo</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2018 Copyright:
      <p> GRADREC</p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->