<footer class="page-footer font-small red darken-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row flex-center">
          <a class="pl-3 pr-3">
              <p>Ruben Chevez</p>
            </a>
            <a class="pl-3 pr-3">
              <p>Tian Wang</p>
            </a>
            <a class="pl-3 pr-3">
              <p>Lucas Critch</p>
            </a>
            <a class="pl-3 pr-3"> 
              <p>Carlos Salcedo</p>
            </a>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a>GRADREC</a>
    </div>
  </div>
</footer>
