    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid">

        <div class="container">
            <h1 class="h1-reponsive mb-4 mt-2 blue-text font-bold">Welcome to GRADREC</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    
    </div>
    <!--Jumbotron-->