<!-- Default form login -->
<form class="text-center border border-light p-5" style="background-color: white;">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div class="pl-1">
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button  type="submit" -->
    <a id="submitBtn" class="btn red btn-block my-4 " href="/dashboard">Sign in</a>

    <!-- Register -->
    <p>Not a member?
        <a href="/signup">Register</a>
    </p>

    <hr>

    <a class="light-blue-text mx-2" href="/">
        Home Page
    </a>
</form>
<!-- Default form login -->
