<!-- Main layout -->
<div class="view jarallax">
    <img class="jarallax-img" src="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg" alt="">
    <div class="mask rgba-blue-slight">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6 wow fadeIn mb-3" style="display: flex; justify-content: center; align-items: center;">
                    <div class="align-middle text-center" >
                        <h1 class="align-middle display-3 mb-2 wow fadeInDown" data-wow-delay="0.3s">GRADREC</h1>
                        <h5 class="align-middle text-uppercase mb-3 mt-1 wow fadeIn h4 text-white" data-wow-delay="0.4s">
                            Graduate Student project applications
                        </h5>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn mb-3" style="display: flex; justify-content: center; align-items: center;">
                    <div>
                        <% include ../partials/logincard %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>