<script>
    window.currUser = sessionStorage.getItem('curentUser');
    window.currUser = JSON.parse(window.currUser);
    console.log("Retrieving from User Local Session ", window.currUser);
</script>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light  grey lighten-5">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
        <img src="https://clf.mun.ca/favicon/favicon-192x192.png" height="30" class="d-inline-block align-top" alt="mdb logo">
        GRADREC
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projectCreation">Project Creation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="dashboard">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/research">Research</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/studentSurvey">Student Survey</a>
            </li>
            <!-- Dropdown -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->

        </ul>
        <ul class="nav navbar-nav navbar-right" id="navSignList">

        </ul>

        <!-- Links -->

        <!-- <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form> -->
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<script>

     console.log(window.location.href); 
    

    function logout() {

        // Remove saved data from sessionStorage
        sessionStorage.removeItem('curentUser');
        window.location.href = '/login';
    }
    var ul = document.getElementById("navSignList");
    var li = document.createElement("li");
    var a = document.createElement("a");
    a.setAttribute("class", "nav-link");

    if (!currUser) {
        a.setAttribute("href", "/login");
        a.appendChild(document.createTextNode("Login"));
        li.appendChild(a);
        li.setAttribute("id", "loginBtn"); // added line
        li.setAttribute("class", "nav-item");
    } else {
        a.setAttribute('onclick', 'logout();'); // for FF
        a.onclick = function () { logout(); }; 
        a.appendChild(document.createTextNode("Logout"));
        li.appendChild(a);
        li.setAttribute("id", "logoutBtn");
        li.setAttribute("class", "nav-item");
    }

    ul.appendChild(li);

</script>