<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>
</head>

<body>
    <!-- <header>
        < include ../partials/header %>
    </header> -->
    <% include ../partials/navbar %>
    <main class="container">

        <!--Jumbotron-->
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
                    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                        <div class="py-5">

                            <!--Content-->
                            <h6 class="orange-text font-bold"><i class="fa fa-camera-retro"></i> GRADREC</h6>
                            <h2 class="card-title pt-3 mb-5 font-bold">Jumbotron with image overlay</h2>
                            <p class="px-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                                fugiat, laboriosam, voluptatem, optio vero odio nam sit officia
                                accusamus minus error nisi architecto nulla ipsum dignissimos.
                                Odit sed qui, dolorum!</p>
                            <a class="btn peach-gradient"><i class="fa fa-clone left"></i> View project</a>
                            <!--Content-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Jumbotron-->

        <!-- Projects section v.3 -->
        <section class="my-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>
            <!-- Section description -->
            <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 mb-lg-0 mb-5">
                    <!--Image-->
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7">

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-book fa-2x cyan-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Education</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit
                                maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-code fa-2x red-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Technology</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit
                                maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-money fa-2x deep-purple-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Finance</h5>
                            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing.
                                Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-5">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-7">

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Marketing</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit
                                maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-music fa-2x pink-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Entertainment</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit
                                maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mb-lg-0 mb-5">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-smile-o fa-2x blue-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Communication</h5>
                            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing.
                                Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-5">
                    <!--Image-->
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Projects section v.3 -->

    </main>
    <% include ../partials/mdscripts %>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>