<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/mdhead %>
</head>
<body>

<header>
    <% include ../partials/header %>
    <% include ../partials/carousel %>
</header>

<main  class="container">
    <% include ../partials/jumbotron %>
</main>

<br/><br/>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>