<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>
</head>

<body style="background-color: rgb(230, 230, 230);">
    <header>
    </header>
    <% include ../partials/navbar %>
    <main class="flex-center flex-column animated fadeIn mb-4" >
            <% include ../partials/logincard %>
    </main>
    <% include ../partials/mdscripts %>
</body>
<footer>
</footer>

</html>
