<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
  <% include ../partials/mdhead %>
  <link rel="icon" href="http://cc-arcc.ca/wp-content/uploads/2016/03/mun-logo.jpg">
</head>

<body style="background-color: rgb(230, 230, 230); padding-bottom: 110px;">
  <% include ../partials/navbar %>
  <main class="flex-center flex-column animated fadeIn mb-4 container" id="mainContainer">


  </main>
  <% include ../partials/mdscripts %>
  <script>
    if (window.currUser) {
      console.log("Exist");
    } else {
      window.location.href = '/login';
      console.log("not login");
    }
  </script>
  <script>

    function acceptStudent(projectId, studentId) {
      $.ajax
        ({
          url: `/projects/${projectId}/participant/${studentId}`,
          data: window.currApplication,
          type: 'put',
          success: function (notification) {
            alert(`Application Accepted`);
            console.log("Application Accepted", notification);
            document.location.reload(true)
          },
          error: function (request, status, error) {
            msgError.html(request.responseText);
          }
        });
    }
    function lookup(array, prop, value) {
      for (var i = 0, len = array.length; i < len; i++)
        if (array[i] && array[i][prop] === value) return array[i];
    }
    function groupBy(array, f) {
      var groups = {};
      array.forEach(function (o) {
        var group = JSON.stringify(f(o));
        groups[group] = groups[group] || [];
        groups[group].push(o);
      });
      return Object.keys(groups).map(function (group) {
        return groups[group];
      });
    }

    $(document).ready(function () {
      console.log("ready!");

      $.ajax
        ({
          url: "/notifications",
          data: {
            type: "MESSAGE"
          },
          type: "get",
          async: false,
          success: function (notifications) {
            let newNots = [];

            var conversations = groupBy(notifications, function (item) {
              return [item.origin, item.projectId];
            });
            console.log("Group By!", conversations);
            let emptyMsg = true;
            for (var conv of conversations) {
              console.log("CONV", conv);
              
              var lastMsg = conv[0];
              if (lastMsg.projectManagerId == window.currUser._id || window.currUser._id == lastMsg.origin)
              {
                emptyMsg = false;
                userImg = (lastMsg.userImg)? lastMsg.userImg : "https://cdn.iconscout.com/icon/free/png-256/avatar-367-456319.png";
                projectImg = (lastMsg.projectImg)? lastMsg.projectImg : "http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg";
                $card = `<div class="jumbotron text-center hoverable p-4">
                    <div class="row">
                      <div class="col-xs-1 col-md-2 offset-md-1 mx-3 my-3">
                        <div class="view overlay">
                          <img src="${userImg}" height="100px" class="img-fluid" alt="Sample image for first version of blog listing">
                          <img src="${projectImg}" height="100px" class="img-fluid" alt="Sample image for first version of blog listing">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                      </div>
                      <div class="col-xs-10 col-md-9 text-md-left ml-3 mt-3">
                        <a href="#!" class="green-text">
                          <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> ${lastMsg.type}</h6>
                        </a>
                        <p class="font-weight-normal">${lastMsg.msg}</p><br/>
                        <p class="font-weight-normal"><a><strong>${lastMsg.projectName}</strong></a> and <a><strong>${lastMsg.firstName} ${lastMsg.lastName}</strong></a>, ${new Date(lastMsg.createDate).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })} </p>
                        <p class="font-weight-normal"> <strong>Email:</strong> ${lastMsg.createDate} </p>
                        <br/>
                        <a class="btn red white-text" href="/chat?projectId=${lastMsg.projectId}&from=${lastMsg.from}&to=${lastMsg.to}&origin=${lastMsg.origin}" >Reply</a>
                      </div>
                    </div>
                  </div>`;
                  $("#mainContainer").append($($card));
              }
            }
            if (emptyMsg)
            {
              $card = `<div class="d-flex p-2">
                <div class="row">         
                    <h1 class="grey-text" style="font-family: Arial Black,Arial Bold,Gadget,sans-serif;">No Messages at this time</h1>
                </div>
              </div>`
              $("#mainContainer").append($($card));
            }
          },
          error: function (request, status, error) {
            $("p#errorSpace").html(request.responseText);
          }
        });

    });

  </script>
</body>
<footer class="fixed-bottom">
  <% include ../partials/footer %>
</footer>

</html>