<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
  <% include ../partials/mdhead %>
  <link rel="icon" href="http://cc-arcc.ca/wp-content/uploads/2016/03/mun-logo.jpg">
</head>

<body style="background-color: rgb(230, 230, 230);">
  <% include ../partials/navbar %>
  <main class="flex-center flex-column animated fadeIn mb-4 container" id="mainContainer">


  </main>
  <% include ../partials/mdscripts %>
  <script>
    if (window.currUser) {
      console.log("Exist");
    } else {
      window.location.href = '/login';
      console.log("not login");
    }
  </script>
  <script>

    function acceptStudent(projectId, studentId) {
      $.ajax
        ({
          url: `/projects/${projectId}/participant/${studentId}`,
          data: window.currApplication,
          type: 'put',
          success: function (notification) {
            alert(`Application Accepted`);
            console.log("Application Accepted", notification);
            document.location.reload(true)
          },
          error: function (request, status, error) {
            msgError.html(request.responseText);
          }
        });
    }
    function denyStudent(notId) {
      $.ajax
        ({
          url: `/notifications/${notId}`,
          data: {
            replied : false,
            answer : true
          },
          type: 'put',
          success: function (notification) {
            alert(`Application Denied`);
            console.log("Application Denied", notification);
            document.location.reload(true)
          },
          error: function (request, status, error) {
            msgError.html(request.responseText);
          }
        });
    }


    $(document).ready(function () {
      console.log("ready!");

      $.ajax
        ({
          url: "/notifications",
          data: {
            type: "APPLY_REQUEST"
          },
          type: "get",
          async: false,
          success: function (notifications) {

            for (var not of notifications) {
              console.log("NOT", not.projectName, not);
              
              if (not.projectManagerId != window.currUser._id)
              {
                continue;
              }
              var title;
              var img;
              var $card;
              var date = not.createDate;
              var type = not.type;

              $.ajax
                ({
                  url: `/users/${not.userId}`,
                  data: {},
                  type: "get",
                  async: false,
                  success: function (user) {
                    console.log("NOT", not.projectName, not);

                    type = "APPLICATION REQUEST";
                    img = "https://png.pngtree.com/svg/20170517/apply_1359349.png";
                    $card = `<div class="jumbotron text-center hoverable p-4">
                                      <div class="row">
                                        <div class="col-xs-1 col-md-2 offset-md-1 mx-3 my-3">
                                          <div class="view overlay">
                                            <img src="${not.userImg}" height="100px" class="img-fluid" alt="Sample image for first version of blog listing">
                                            <a>
                                              <div class="mask rgba-white-slight"></div>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="col-xs-10 col-md-9 text-md-left ml-3 mt-3">
                                          <a href="#!" class="green-text">
                                            <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> ${type}</h6>
                                          </a>
                                          <p class="font-weight-normal"> <strong>${user.firstName + " " + user.lastName}</strong> wants to join <strong>${not.projectName}</strong> </p>
                                          <p class="font-weight-normal">by <a><strong>${user.firstName + " " + user.lastName}</strong></a>, ${new Date(date).toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })} </p>
                                          <div class="collapse text-justify" id="collapse_${user._id}_${not.projectId}">
                                              <br/>
                                              <p><strong>Description:</strong> ${user.summary} </p>
                                              <p><strong>University:</strong> ${user.university} </p>
                                              <p><strong>Degree:</strong> ${user.degree} </p>
                                              <p><strong>Program:</strong> ${user.program} </p>
                                              <p><strong>Address:</strong> ${user.address} </p>
                                              <p><strong>Other Certificate:</strong> ${user.otherCert} </p>                                                    
                                            </div>
                                            <br/>
                                          </div>
                                          ${( JSON.parse(not.answer) ) ? ( JSON.parse(not.replied) ? `<a class="btn btn-link green-text" disabled>ACCEPTED</a>` : `<a class="btn btn-link red-text" disabled>DENIED</a>`) : `<a class="btn red white-text" onclick="acceptStudent('${not.projectId}', '${not.userId}')" >ACCEPT</a><a class="btn grey white-text" onclick="denyStudent('${not._id}')" >DENY</a>`}
                                          <a class="btn grey lighten-2  black-text" data-toggle="collapse" href="#collapse_${user._id}_${not.projectId}" aria-expanded="false" aria-controls="collapseExample">
                                              More Information
                                          </a>
                                          <br/>
                                        </div>
                                      </div>
                                    </div>`;
                    $("#mainContainer").append($($card));

                  }
                });

            }
          },
          error: function (request, status, error) {
            $("p#errorSpace").html(request.responseText);
          }
        });

    });

  </script>
</body>
<footer>
  <% include ../partials/footer %>
</footer>

</html>