<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>
    <link rel="icon" href="http://cc-arcc.ca/wp-content/uploads/2016/03/mun-logo.jpg">
</head>

<body style="background-color: rgb(230, 230, 230);">
    <!-- <header>
        < include ../partials/header %>
    </header> -->
    <% include ../partials/navbar %>
    <main class="container">

        <!--Card-->
        <div class="card">

            <br />
            <div class="avatar mx-auto">
                <img id="userImage" src="http://icons-for-free.com/free-icons/png/512/274900.png" alt="Sample avatar"
                    height="250">
            </div>

            <!--Card content-->
            <div class="card-body text-center mb-3">
                <!--Title-->
                <h3 class="card-title mt-2 pb-4"><strong id="username">User #1</strong></h3>
                <!--Text-->
                <p class="card-text">Welcome to GradRec
                </p>
                <!-- <a href="#" class="btn red btn-rounded">Button</a> -->
            </div>

        </div>
        <!--/.Card-->

        <div class="card">
            <!-- This div creates a margin around our form -->

            <!-- Grid row -->
            <div class="row">
                <!-- I'm going to call this row A -->
                <!-- Grid column -->
                <div class="col-lg-12">
                    <!-- I'm going to call this Col A -->

                    <div class="card-body form">
                        <!-- Just some decorations for the form -->

                        <!-- Header -->
                        <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Profile Information:</h3>
                        <p>Please provide accurate and true information, as this information will influence your
                            acceptance process. The list of your available projects will directly depend on your
                            answers here, and keep in mind that the Project Managers(and/or Professors) will be
                            able to view most of the information here. </p>
                        </p>
                        <!-- Grid row -->


                        <div class="row">
                            <!-- "Just a Divider Section" -->
                            <div class="col-md-12">
                                <hr>
                                <p><b>Section 1: First Impressions</b></p>
                            </div>
                        </div>



                        <div class="row"> <!-- beginning of row 0  -->


                            <!-- Grid column -->
                            <div class="col-md-12">
                                <!-- row 1, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" placeholder="Image URL" id="form-contact-imageURL" class="form-control">
                                    <label for="form-contact-imageURL" class="">A link to the image you wish to use for your profile</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>

                        <!-- Grid row -->
                        <div class="row">
                            <!-- beginning of row 1  -->

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <!-- row 1, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" placeholder="First Name" id="form-contact-firstName" class="form-control">
                                    <label for="form-contact-firstName" class="">First Name</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <!-- row 1, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" placeholder="Last Name" id="form-contact-lastName" class="form-control">
                                    <label for="form-contact-lastName" class="">Last Name</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div> <!-- end of row 1 -->
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">
                            <!--  Row 2  -->
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <!--  Row 2, Col 1  -->
                                <div class="md-form mb-0">
                                    <textarea type="text" id="form-contact-AboutMe" class="form-control md-textarea"
                                        rows="3" placeholder="Summary/Profile"></textarea>
                                    <label for="form-contact-AboutMe">Summary or Profile (500 Char Max)</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div> <!--  End of Row 2  -->
                        <!-- Grid row -->

                        <div class="row">
                            <!-- "Just a Divider Section" -->
                            <div class="col-md-12">
                                <hr>
                                <p><b>Section 2: Important Contact Information</b></p>
                            </div>
                        </div>

                        <!-- Grid row -->
                        <div class="row">
                            <!-- row 3 -->

                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 3, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-DoB" class="form-control" placeholder="Date of Birth (DD/MM/YYYY)">
                                    <label for="form-contact-DoB" class="">Date of Birth (DD/MM/YYYY)</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 3, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-nationality" class="form-control" placeholder="Nationality">
                                    <label for="form-contact-nationality" class="">Nationality</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 3, col 3 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-gender" class="form-control" placeholder="Gender">
                                    <label for="form-contact-gender" class="">Gender(Male,Female,Other)</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div> <!-- End of row 3 -->
                        <!-- row 4 -->
                        <div class="row">
                            <!-- row 4 -->
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <!-- row 4, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-address" class="form-control" placeholder="Current Address">
                                    <label for="form-contact-address" class="">Current Address </label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div> <!-- end of row 4 -->

                        <!-- row 5 -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <!-- row 5, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-email" class="form-control" placeholder="E-mail">
                                    <label for="form-contact-email" class="">E-mail</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <!-- row 5, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-phone" class="form-control" placeholder="Phone Number">
                                    <label for="form-contact-phone" class="">Phone Number</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div> <!-- end of row 5-->


                        <div class="row">
                            <!-- "Just a Divider Section" -->
                            <div class="col-md-12">
                                <hr>
                                <p><b>Section 3: Educational Background</b></p>
                            </div>
                        </div>

                        <!-- row 6 -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <!-- row 6, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-degree" class="form-control" placeholder="Highest Degree Obtained">
                                    <label for="form-contact-degree" class="">Highest Degree Obtained</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <!-- row 6, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-university" class="form-control" placeholder="University">
                                    <label for="form-contact-university" class="">University</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div> <!-- end of row 6 -->

                        <div class="row">
                            <!-- row 7-->
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <!-- row 7, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-certificates" class="form-control" placeholder="Other Certificates or Degrees">
                                    <label for="form-contact-certificates" class="">Other Certificates or Degrees</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div> <!-- end of row 7 -->

                        <div class="row">
                            <!-- "Just a Divider Section" -->
                            <div class="col-md-12">
                                <hr>
                                <p><b>Section 4: Work Experience</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <!-- row 8 -->
                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 8, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-job1_employeer" class="form-control"
                                        placeholder="Last Employeer">
                                    <label for="form-contact-job1_employeer" class="">Last Employeer</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 8, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-job1_title" class="form-control" placeholder="Job Title">
                                    <label for="form-contact-job1_title" class="">Job Title</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 8, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-job1_duration" class="form-control" placeholder="Duration">
                                    <label for="form-contact-job1_duration" class="">Duration</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div> <!-- end of row 8 -->

                        <div class="row">
                            <!-- row 9 -->
                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 9, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-job2_employeer" class="form-control"
                                        placeholder="Second to Last Employeer">
                                    <label for="form-contact-job2_employeer2" class="">Second to Last Employeer</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 9, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-job2_title" class="form-control" placeholder="Job Title">
                                    <label for="form-contact-job2_title" class="">Job Title</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4">
                                <!-- row 9, col 2 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-job2_duration" class="form-control" placeholder="Duration">
                                    <label for="form-contact-job2_duration" class="">Duration</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div> <!-- end of row 9 -->

                        <div class="row">
                            <!-- "Just a Divider Section" -->
                            <div class="col-md-12">
                                <hr>
                                <p><b>Section 5: Program Related Information</b></p>
                            </div>
                        </div>

                        <div class="row">
                            <!-- row 10 - Program and Field of Study -->

                            <!-- Grid column -->
                            <div class="col-sm-2">
                                <!-- row 10, col 1 -->
                                <div class="md-form mb-0">
                                    <p>MSc or PhD:</p>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-sm-1">
                                <!-- row 10, col 2 -->
                                <div class="md-form mb-0">
                                    <select class="browser-default custom-select" id="form-contact-msc_or_phd">
                                        <option selected value="1">MSc</option>
                                        <option value="2">PhD</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-sm-2">
                                <!-- row 10, col 3 -->
                                <div class="md-form mb-0">
                                    Program:
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-sm-4">
                                <!-- row 10, col 4 -->
                                <div class="md-form mb-0">
                                    <select class="browser-default custom-select" id="form-contact-program">
                                        <option selected value="1">Computer Science/Engineering</option>
                                        <option value="2">Computational chemistry </option>
                                        <option value="3">Physics</option>
                                        <option value="4">Mathematics</option>
                                        <option value="5">Marine Biology</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div> <!-- end of row 10 -->

                        <div class="row">
                            <!-- row 11 -->
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <!-- row 11, col 1 -->
                                <hr>
                                <p> Skills: </p>
                                <!-- Default inline 0-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="english">
                                    <label class="custom-control-label" for="english">English</label>
                                </div>

                                <!-- Default inline 1-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="maths">
                                    <label class="custom-control-label" for="maths">Mathematics</label>
                                </div>

                                <!-- Default inline 2-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="comp">
                                    <label class="custom-control-label" for="comp">Computer Skills</label>
                                </div>

                                <!-- Default inline 3-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="music">
                                    <label class="custom-control-label" for="music">Music</label>
                                </div>
                                <!-- Default inline 4-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="noSkills">
                                    <label class="custom-control-label" for="noSkills">None</label>
                                </div>

                            </div>
                            <!-- Grid column -->
                        </div> <!-- end of row 11 -->


                        <!--      <div class="row">  <!-- row N -->
                        <!-- Grid column -->
                        <!--          <div class="col-md-12">  <!-- row N, col M -->
                        <!--              <div class="md-form mb-0">
                                    <input type="text" id="form-contact-sample" class="form-control">
                                    <label for="form-contact-sample" class="">Just a default field</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        <!--      </div> <!-- end of row N -->

                        <!-- Grid row -->

                    </div>

                </div> <!-- End of Column B -->
                <!-- Grid column -->
            </div> <!-- End of Row A -->
            <!-- Grid row -->

            <!-- These are just the buttons to Submit or Save -->
            <div class="align-center text-center m-3">
                <a class="btn red" href="/home">Submit</a>
                <a class="btn red" href="/home" id="saveLaterBtn">Save for later</a>
                <br />
            </div>

            <p class="red-text" id="errorSpace"></p>
        </div>

    </main>

    <br />
    <% include ../partials/mdscripts %>
    <script>
        if (window.currUser) {
            console.log("Exist");
        } else {
            console.log("not login");
            window.location.href = '/login';
        }
    </script>
    <script>
        $(document).ready(function () {
            $.ajax
                ({
                    url: '/users',
                    data: {
                        email: currUser.email
                    },
                    type: 'get',
                    success: function (data) {
                        console.log("Updating User Local Session ", data);
                        if (!data || data.length == 0) {
                            console.log("User does not exist");
                            return;
                        }
                        console.log("Saving User Local Session ", data[0]);
                        sessionStorage.setItem('curentUser', JSON.stringify(data[0]));
                        var currUser = data[0];
                        var _imageURL =$('input#form-contact-imageURL')//profile image
                        var _username = $('strong#username'); //username
                        var _firstname = $('input#form-contact-firstName'); //firstName
                        var _lastname = $('input#form-contact-lastName'); //lastName
                        var _summary = $('textarea#form-contact-AboutMe'); //summary
                        var _email = $('input#form-contact-email'); //email
                        var _dob = $('input#form-contact-DoB'); //dob
                        var _nationality = $('input#form-contact-nationality'); //nationality
                        var _gender = $('input#form-contact-gender'); //gender
                        var _address = $('input#form-contact-address'); //address
                        var _phone = $('input#form-contact-phone'); //phone
                        var _degree = $('input#form-contact-degree'); //degree
                        var _university = $('input#form-contact-university'); //university
                        var _certificates = $('input#form-contact-certificates'); //otherCert
                        var _employer1 = $('input#form-contact-job1_employeer'); //employer1
                        var _title1 = $('input#form-contact-job1_title'); //title1
                        var _duration1 = $('input#form-contact-job1_duration'); //duration1
                        var _employer2 = $('input#form-contact-job2_employeer'); //employer2
                        var _title2 = $('input#form-contact-job2_title'); //title2
                        var _duration2 = $('input#form-contact-job2_duration'); //duration2
                        var _msc_or_phd = $('#form-contact-msc_or_phd'); //PhD
                        var _english = $('#english');
                        var _maths = $('#maths');
                        var _comp = $('#comp');
                        var _music = $('#music');
                        var _noSkills = $('#noSkills');
                        var _program = $('#form-contact-program'); //program

                        _username.html(currUser.username); //cambiamos los valores del html con los que estan en la base de datos
                        _imageURL.val(currUser.imgURL); //profile image
                        _firstname.val(currUser.firstName);
                        _lastname.val(currUser.lastName);
                        _summary.val(currUser.summary);
                        _email.val(currUser.email);
                        _dob.val( (!currUser.dob) ? "" : currUser.dob );
                        _nationality.val(currUser.nationality);
                        _gender.val(currUser.gender);
                        _address.val(currUser.address);
                        _phone.val(currUser.phone);
                        _degree.val(currUser.degree);
                        _university.val(currUser.university);
                        _certificates.val(currUser.otherCert);
                        _employer1.val(currUser.employer1);
                        _title1.val(currUser.title1);
                        _duration1.val(currUser.duration1);
                        _employer2.val(currUser.employer2);
                        _title2.val(currUser.title2);
                        _duration2.val(currUser.duration2);

                        if ((currUser.PhD) == true) {
                            _msc_or_phd.val(2);
                        } else {
                            _msc_or_phd.val(1);
                        };
                        if ((currUser.program) == "Computer Science/Engineering") {
                            _program.val(1);
                        } else if ((currUser.program) == "Computational chemistry") {
                            _program.val(2);
                        } else if ((currUser.program) == "Physics") {
                            _program.val(3);
                        } else if ((currUser.program) == "Mathematics") {
                            _program.val(4);
                        } else if ((currUser.program) == "Marine Biology") {
                            _program.val(5);
                        }

/*
                        _english.prop('unchecked', (!currUser.skills.english) ? false : currUser.skills.english);
                        _maths.prop('unchecked',(!currUser.skills.maths) ? false :  currUser.skills.maths);
                        _comp.prop('unchecked', (!currUser.skills.comp) ? false : currUser.skills.comp);
                        _music.prop('unchecked',(!currUser.skills.music) ? false : currUser.skills.music);
                        _noSkills.prop('unchecked', (!currUser.skills.noSkills) ? false :currUser.skills.noSkills);
*/

                        /////// first we check if the object "skills" exist. if it doesn't, we leave all the skills as unchecked
                        //if (!currUser.skills){
                        //  currUser.skills = {english:false,maths:false,comp:false,music:false,noSkills:false };
                        //}

                        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        if ( currUser.skills.english == "false") {
                          _english.attr('checked',false)
                          console.log("the english box should be unchecked")
                        }else {
                          _english.attr('checked',true)
                          console.log("The english box should be checked")
                        }
                        console.log(currUser.skills.maths)
                        if ( currUser.skills.maths == "false") {
                          _maths.attr('checked',false)
                          console.log("the math box should be unchecked")
                        }else {
                          _maths.attr('checked',true)
                          console.log("The math box should be checked")
                        }
                        console.log(currUser.skills.comp)
                        if ( currUser.skills.comp == "false") {
                          _comp.attr('checked',false)
                          console.log("the comp box should be unchecked")
                        }else {
                          _comp.attr('checked',true)
                          console.log("The comp box should be checked")
                        }
                        console.log(currUser.skills.music)
                        if ( currUser.skills.music == "false") {
                          _music.attr('checked',false)
                          console.log("the music box should be unchecked")
                        }else {
                          _music.attr('music',true)
                          console.log("The music box should be checked")
                        }
                        console.log(currUser.skills.noSkills)
                        if ( currUser.skills.noSkills == "false") {
                          _noSkills.attr('checked', false)
                          console.log("the noSkills box should be unchecked")
                        }else {
                          _noSkills.attr('checked',true)
                          console.log("The noSkills box should be checked")
                        }
                        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                        //_english.prop('unchecked', (!currUser.skills.english) ? false : currUser.skills.english);
                        //_maths.prop('unchecked',(!currUser.skills.maths) ? false :  currUser.skills.maths);
                        //_comp.prop('unchecked', (!currUser.skills.comp) ? false : currUser.skills.comp);
                        //_music.prop('unchecked',(!currUser.skills.music) ? false : currUser.skills.music);
                        //_noSkills.prop('unchecked', (!currUser.skills.noSkills) ? false :currUser.skills.noSkills);
                        //_username.html(currUser.username); //cambiamos los valores del html con los que estan en la base de datos
                        $("img#userImage").attr("src", currUser.imgURL);
                        //$("#username").html(currUser.username);
                        // $("#form-contact-firstName").val(currUser.firstName);


                        $("#saveLaterBtn").click(function (event) {
                            event.preventDefault();
                            //if (!_name || !_lastname || !_email || !_password) {
                            //    console.log("EMPYT");
                            //    $("p#errorSpace").html("Fill up the fields");
                            //    return;
                            //}
                            var newInfo = {
                            username: _username.html(),
                            email:_email.val(),
                            firstName: _firstname.val(),
                            lastName: _lastname.val(),
                            imgURL: _imageURL.val(),
                            surveyDone: false,
                            summary: _summary.val(),
                            dob: _dob.val(),
                            nationality: _nationality.val(),
                            gender: _gender.val(),
                            address: _address.val(),
                            phone: _phone.val(),
                            degree: _degree.val(),
                            university: _university.val(),
                            otherCert: _certificates.val(),
                            employer1: _employer1.val(),
                            title1: _title1.val(),
                            duration1: _duration1.val(),
                            employer2: _employer2.val(),
                            title2: _title2.val(),
                            duration2: _duration2.val(),
                            PhD: _msc_or_phd.val(),
                            program: _program.val(),
                            skills: {
                                english: _english.prop('checked'),
                                maths: _maths.prop('checked'),
                                comp: _comp.prop('checked'),
                                music: _music.prop('checked'),
                                noSkills: _noSkills.prop('checked')
                            }};

                            console.log("ENVIANDO ", newInfo);

                            $.ajax
                                ({
                                    url: `/users/${currUser._id}`,
                                    data: newInfo,
                                    type: 'put',
                                    success: function (user) {
                                        console.log("USER SAVED", user);
                                        alert("USER SAVED");
                                        //window.location.href = '/';
                                    },
                                    error: function (request, status, error) {
                                        $("p#errorSpace").html(request.responseText);
                                    }
                                });



                        });
                    }
                });
        });
    </script>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>
