<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>

</head>

<body>
    <!-- <header>
        < include ../partials/header %>
    </header> -->
    <% include ../partials/navbar %>
    <main class="container">
        <!-- Section: Contact v.3 -->
        <section class="contact-section my-5">

            <!-- Form with header -->
            <div class="card"> <!-- The "box" containing the questionaire -->

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-12">

                        <div class="card-body form"> <!-- This is where the border is created -->

                            <!-- Header -->
                            <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Create New/Edit Project:</h3>

                            <div class="row"> <!-- row 1 - project title -->
                                <!-- Grid column -->
                                <div class="col-md-12"> <!-- row 1, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-project_title" class="form-control">
                                        <label for="form-contact-project_title" class="">Project Title</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>

                            <div class="row"> <!-- row 2 - project description -->

                                <!-- Grid column -->
                                <div class="col-md-12"> <!-- row 2, col 1 -->
                                    <div class="md-form mb-0">
                                        <textarea type="text" id="form-contact-Abstract" class="form-control md-textarea"
                                            rows="3"></textarea>
                                        <label for="form-contact-Abstract">Project Description (Abstract)</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div>

                            <div class="row"> <!-- row 3 - PM and Collaborators -->
                                <div class="col-md-6"> <!-- row 3, col 1 -->
                                    <div class="md-form mb-0">
                                      <select class="browser-default custom-select" id="form-contact-project_manager">
                                      <option selected>Project Manager</option>
                                      <option value="1">Fiech, Adrien</option>
                                      <option value="2">Mata-Montero, Manrique</option>
                                      <option value="3">Miklos, Bartha</option>
                                      <option value="4">Chen, Yuanzhu</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-md-6"> <!-- row 3, col 2 -->
                                    <div class="md-form mb-0">
                                          <select class="mdb-select md-form" multiple searchable="Search here..">
                                          <option value="" disabled selected>Choose other project collaborators</option>
                                          <option value="1">Fiech, Adrien</option>
                                          <option value="2">Mata-Montero, Manrique</option>
                                          <option value="3">Miklos, Bartha</option>
                                          <option value="4">Chen, Yuanzhu</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row"> <!-- row 4 - Program and Field of Study -->

                              <!-- Grid column -->
                              <div class="col-sm-2"> <!-- row 4, col 1 -->
                                  <div class="md-form mb-0">
                                        <p>MSc or PhD:</p>
                                  </div>
                              </div>
                              <!-- Grid column -->
                              <!-- Grid column -->
                              <div class="col-sm-1"> <!-- row 4, col 2 -->
                                  <div class="md-form mb-0">
                                    <select class="browser-default custom-select" id="form-contact-msc_or_phd">
                                    <option selected></option>
                                    <option value="1">MSc</option>
                                    <option value="2">PhD</option>
                                    </select>
                                  </div>
                              </div>
                              <!-- Grid column -->
                              <!-- Grid column -->
                              <div class="col-sm-2"> <!-- row 4, col 3 -->
                                  <div class="md-form mb-0">
                                        Program:
                                  </div>
                              </div>
                              <!-- Grid column -->
                              <!-- Grid column -->
                              <div class="col-sm-4"> <!-- row 4, col 4 -->
                                  <div class="md-form mb-0">
                                    <select class="browser-default custom-select" id="form-contact-program">
                                    <option selected></option>
                                    <option value="1">Computer Science/Engineering</option>
                                    <option value="2">Computational chemistry </option>
                                    <option value="3">Physics</option>
                                    <option value="4">Mathematics</option>
                                    <option value="5">Marine Biology</option>

                                    </select>
                                  </div>
                              </div>
                              <!-- Grid column -->
                            </div>

                            <div class="row"> <!-- row 5 - Specific area of research -->
                              <div class="col-md-6"> <!-- row 5, col 1 -->
                                <div class="md-form mb-0">
                                  <input type="text" id="form-contact-specific_research_area" class="form-control">
                                  <label for="form-contact-specific_research_area" class="">Specific Research Area (robotics, DNA splicing, etc.)</label>
                                </div>
                              </div>
                              <div class="col-md-4"> <!-- row 5, col 1 -->
                                <div class="md-form mb-0">
                                  <input type="text" id="form-contact-num_of_students" class="form-control">
                                  <label for="form-contact-num_of_students" class="">Number of Students</label>
                                </div>
                              </div>
                            </div>

                            <div class="row"> <!-- row 6 - Financil aid & Student skills -->
                              <div class="col-md-4"> <!-- row 6, col 1 -->
                                <div class="md-form mb-0">
                                  <input type="text" id="form-contact-financial_aid" class="form-control">
                                  <label for="form-contact-financial_aid" class="">Available Financial Aid</label>
                                </div>
                              </div>
                              <div class="col-sm-2"> <!-- row 6, col 2 -->
                                <div class="md-form mb-0">
                                  <p>Ideal Candidate Skills:</p>
                                </div>
                              </div>
                              <div class="col-md-4"> <!-- row 6, col 3 -->
                                <div class="md-form mb-0">
                                    <select class="mdb-select md-form" multiple searchable="Search here.." id="skills">
                                    <option value="" disabled selected></option>
                                    <option value="1">Python</option>
                                    <option value="2">Java</option>
                                    <option value="3">Web Development</option>
                                    <option value="4">Mathematics</option>
                                    <option value="5">Physics</option>
                                    <option value="6">Microsoft Office</option>
                                    </select>
                                </div>
                              </div>
                            </div>

                            <div class="row"> <!-- row 7 - additional_comments-->
                              <div class="col-md-12"> <!-- row 7, col 1 -->
                                <div class="md-form mb-0">
                                    <input type="text" id="form-contact-additional_comments" class="form-control">
                                    <label for="form-contact-additional_comments" class="">Additional Comments</label>
                                </div>
                              </div>
                            </div>

                            <div class="row">  <!-- "Just a Divider Section" - for project conclusion -->
                                <div class="col-md-12">
                                  <hr>
                                  <p><b>Project Termination: The information below is only required once the project is finished, but feel free to fill out the fields at any time.</b></p>
                                </div>
                            </div>

                            <div class="row"> <!-- row 8 - due dates -->
                              <div class="col-sm-4"> <!-- row 8, col 1 -->
                                <div class="md-form mb-0">
                                  <input type="text" id="form-contact-est_duedate" class="form-control">
                                  <label for="form-contact-est_duedate" class="">Estimated Due Date (dd-mm-yyyy)</label>
                                </div>
                              </div>

                              <div class="col-sm-4"> <!-- row 8, col 2 -->
                                <div class="md-form mb-0">
                                  <input type="text" id="form-contact-actual_due_date" class="form-control">
                                  <label for="form-contact-actual_due_date" class="">Actual Due Date (dd-mm-yyyy)</label>
                                </div>
                              </div>

                              <div class="col-sm-2"> <!-- row 8, col 3 -->
                                <div class="md-form mb-0">
                                  <p>Is the Project finished?</p>
                                </div>
                              </div>

                              <div class="col-sm-2"> <!-- row 8, col 4 -->
                                <div class="md-form mb-0">
                                  <select class="mdb-select md-form">
                                    <option value="" disabled selected>(Yes/No)</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                  </select>
                                </div>
                              </div>
                            </div> <!-- end of row 8 -->

                            <div class="row"> <!-- row 9 - conclusion and results -->
                              <div class="col-sm-6"> <!-- row 9, col 1 -->
                                <div class="md-form mb-0">

                                  <textarea type="text" id="form-contact-conclusion" class="form-control md-textarea"
                                      rows="3"></textarea>
                                  <label for="form-contact-conclusion">Conclusion</label>
                                </div>
                              </div>
                              <div class="col-sm-6"> <!-- row 9, col 2 -->
                                <div class="md-form mb-0">
                                  <textarea type="text" id="form-contact-results" class="form-control md-textarea"
                                      rows="3"></textarea>
                                  <label for="form-contact-results">Results</label>
                                </div>
                              </div>
                            </div> <!-- end of row 9 -->

                            <div class="row"> <!-- row 10 - Special message & participants-->
                              <div class="col-sm-6"> <!-- row 10, col 1 -->
                                <div class="md-form mb-0">
                                  <textarea type="text" id="form-contact-thanks" class="form-control md-textarea"
                                      rows="3"></textarea>
                                  <label for="form-contact-thanks">Special Thanks/Mentions</label>
                                </div>
                              </div>

                              <div class="col-sm-6"> <!-- row 10, col 1 -->
                                  <div class="md-form mb-0">
                                    <p>This section will include a list of the project's participants (ie the students, other professors, stakeholders, or other related entities that have contributed to the system </p>
                                  </div>
                                </div>
                           </div> <!-- end of row 10 -->







                              <!-- Some maybe usefull future code
                                <p></p>
                                <hr>
                                <a class="btn-floating btn-lg blue">
                                    <i class="fa fa-send-o"></i>
                                </a>
                              -->


                        </div> <!-- This div ends the border -->

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->

                <!-- These are just the buttons to Submit or Save -->
                  <div class="align-center text-center m-3">
                    <a class="btn btn-primary" href="/home">Save</a>
                    <a class="btn btn-primary" href="/home">Delete</a>
                    <a class="btn btn-primary" href="/home">End Project</a>
                    <a class="btn btn-primary" href="/home">Save as Draft</a>
                    <br />
                  </div>

            </div>
            <!-- Form with header -->

        </section>
        <!-- Section: Contact v.3 -->
    </main>
    <% include ../partials/mdscripts %>

    <script>
      $(document).ready(function() {
        $('.mdb-select').materialSelect();
      });
    </script>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>
