<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>

</head>

<body style="background-color: rgb(230, 230, 230);">
    <% include ../partials/navbar %>
    <main class="container">
        <section class="contact-section my-5">
            <div class="card">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body form">
                            <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Create New/Edit Project:</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input placeholder="Title" type="text" id="form-contact-project_title" class="form-control">
                                        <label for="form-contact-project_title" class="">Project Title</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <textarea type="text" id="form-contact-Abstract" class="form-control md-textarea"
                                            rows="8"></textarea>
                                        <label for="form-contact-Abstract">Project Description (Abstract)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input placeholder="http://" type="text" id="form-contact-project_img" class="form-control">
                                        <label for="form-contact-project_img" class="">Image URL</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="md-form mb-0">
                                        <p>MSc or PhD:</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-form mb-0">
                                        <select class="browser-default custom-select" id="form-contact-msc_or_phd">
                                            <option selected value="1">MSc</option>
                                            <option value="2">PhD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="md-form mb-0">
                                        Program:
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="md-form mb-0">
                                        <select class="browser-default custom-select" id="form-contact-program">
                                            <option value="1">Computer Science/Engineering</option>
                                            <option value="2">Computational chemistry </option>
                                            <option value="3">Physics</option>
                                            <option value="4">Mathematics</option>
                                            <option value="5">Marine Biology</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input placeholder="Robotics, DNA, A.I., etc." type="text" id="form-contact-specific_research_area"
                                            class="form-control">
                                        <label for="form-contact-specific_research_area" class="">Specific Research Area </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-form mb-0">
                                        <input placeholder="A number from 1 to infinity" type="text" id="form-contact-num_of_students" class="form-control">
                                        <label for="form-contact-num_of_students" class="">Number of Students</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="md-form mb-0">
                                        <input placeholder="A number from 0 to infinity" type="text" id="form-contact-financial_aid" class="form-control">
                                        <label for="form-contact-financial_aid" class="">Financial Aid</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="md-form mb-0">
                                        <p>Ideal Candidate Skills:</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="english">
                                                <label class="custom-control-label" for="english">English</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="maths">
                                                <label class="custom-control-label" for="maths">Mathematics</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="comp">
                                                <label class="custom-control-label" for="comp">Computer Skills</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="music">
                                                <label class="custom-control-label" for="music">Music</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="noSkills">
                                                <label class="custom-control-label" for="noSkills">None</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input placeholder="Additional Information" type="text" id="form-contact-additional_comments"
                                            class="form-control">
                                        <label for="form-contact-additional_comments" class="">Additional Project
                                            Related Information</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                    <p><b>Project Termination: The information below is only required once the project
                                            is finished, but feel free to fill out the fields at any time.</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="md-form mb-0">
                                        <input placeholder="dd-mm-yyyy" type="text" id="form-contact-est_duedate" class="form-control">
                                        <label for="form-contact-est_duedate" class="">Estimated Due Date (dd-mm-yyyy)</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="md-form mb-0">
                                        <input placeholder="dd-mm-yyyy" type="text" id="form-contact-actual_due_date"
                                            class="form-control">
                                        <label for="form-contact-actual_due_date" class="">Actual Due Date (dd-mm-yyyy)</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="form-project-finished">
                                        <label class="custom-control-label" for="form-project-finished">Is the Project
                                            Finished</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="md-form mb-0">
                                        <textarea type="text" id="form-contact-conclusion" class="form-control md-textarea"
                                            rows="3"></textarea>
                                        <label for="form-contact-conclusion">Conclusion</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="md-form mb-0">
                                        <textarea type="text" id="form-contact-results" class="form-control md-textarea"
                                            rows="3"></textarea>
                                        <label for="form-contact-results">Results</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="md-form mb-0">
                                        <textarea type="text" id="form-contact-thanks" class="form-control md-textarea"
                                            rows="3"></textarea>
                                        <label for="form-contact-thanks">Special Thanks/Mentions</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="md-form mb-0" id="participantList">
                                        <h3>Participants</h3>
                                        <br/>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-center text-center m-3">
                    <!-- <a class="btn red white-text" href="/home">Save</a> -->
                    <a class="btn red white-text" href="/home">Delete</a>
                    <a class="btn red white-text" href="/home">End Project</a>
                    <a class="btn red white-text" id="saveBtn">Save</a>
                    <br />

                </div>
            </div>
        </section>
    </main>
    <% include ../partials/mdscripts %>
    <script>
        if (window.currUser) {
            console.log("Exist");
        } else {
            console.log("not login");
            window.location.href = '/login';
        }
    </script>
    <script>
        function goTo(addr) {
            window.location.href = addr;
        }
        function scrollIntoView(eleID) {
            var e = document.getElementById(eleID);
            if (!!e && e.scrollIntoView) {
                e.scrollIntoView();
            }
        }
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        $("#sendMsgBtn").click(function () {
            $("html, body").animate({ scrollTop: $("#contactSection").offset().top }, 500);
            return true;
        });
        var projectId = getParameterByName('id');
        var currProj = window.currProj;
        var projTitle = $("#form-contact-project_title");
        var projAbstract = $("#form-contact-Abstract");
        var projImg = $("#form-contact-project_img");
        var projResArea = $("#form-contact-specific_research_area");
        var projStudent = $("#form-contact-num_of_students");
        var projAid = $("#form-contact-financial_aid");
        var projComments = $("#form-contact-additional_comments");
        var projThanks = $("#form-contact-thanks");
        var projConcl = $("#form-contact-conclusion");
        var projRes = $("#form-contact-results");
        var projStart = $("#form-contact-est_duedate");
        var projEnd = $("#form-contact-actual_due_date");
        var _english = $('#english');
        var _maths = $('#maths');
        var _comp = $('#comp');
        var _music = $('#music');
        var _noSkills = $('#noSkills');
        var isPHD = $("#form-contact-msc_or_phd");
        var _program = $("#form-contact-program");
        var _programFinished = $("#form-project-finished");
        var queryURL = `/projects`;
        var queryType = 'post';
        if( projectId ) {
            $.ajax
                ({
                    url: `/projects/${projectId}`,
                    data: {},
                    type: 'get',
                    success: function (data) {
                        console.log("Projects GET Response", data);
                        window.currProj = data;
                        if (!window.currProj) {
                            console.log("Project not exist");
                        } else {
                            queryURL = `/projects/${projectId}`;
                            queryType = 'put';

                            projTitle.val(currProj.title);
                            projAbstract.val(currProj.abstract);
                            projImg.val(currProj.imgURL);
                            projResArea.val(currProj.researchArea);
                            projStudent.val(currProj.availableSpots);
                            projAid.val(currProj.financialAid);
                            projComments.val(currProj.comments);
                            projThanks.val(currProj.specialThanks);
                            projConcl.val(currProj.conclusion);
                            projRes.val(currProj.results);
                            projStart.val( currProj.startDate);
                            projEnd.val( currProj.endDate);
                            _english.prop('checked',         (!currProj.skills) ? false : JSON.parse(currProj.skills.english));
                            _maths.prop('checked  ',         (!currProj.skills) ? false : JSON.parse(currProj.skills.maths));
                            _comp.prop('checked',            (!currProj.skills) ? false : JSON.parse(currProj.skills.comp));
                            _music.prop('checked',           (!currProj.skills) ? false : JSON.parse(currProj.skills.music));
                            _noSkills.prop('checked',        (!currProj.skills) ? false : JSON.parse(currProj.skills.noSkills));
                            _programFinished.prop('checked', JSON.parse(currProj.finished));
                            isPHD.val( (JSON.parse(currProj.PhD)) ? 1 : 2);
                            if ((currProj.program) == "Computer Science/Engineering") {
                                _program.val(1);
                            } else if ((currProj.program) == "Computational chemistry") {
                                _program.val(2);
                            } else if ((currProj.program) == "Physics") {
                                _program.val(3);
                            } else if ((currProj.program) == "Mathematics") {
                                _program.val(4);
                            } else if ((currProj.program) == "Marine Biology") {
                                _program.val(5);
                            }
                            var participants = [];
                            currProj.participants.forEach(function(participant){
                                $.ajax
                                ({
                                    url: `/users/${participant}`,
                                    data: {},
                                    type: 'get',
                                    success: function (user) {
                                        participants.push(user);
                                        $('div#participantList').append($(`<div class="media">
                                            <img class="d-flex mr-3" height="100px" src="${user.imgURL}">
                                            <div class="media-body">
                                                <h5 class="mt-0 font-weight-bold">${user.email}</h5>
                                                <p><strong>First Name:</strong> ${user.firstName} </p>
                                                <p><strong>Last Name:</strong> ${user.lastName} </p>
                                                <p><strong>Title:</strong> ${user.title1} </p>
                                                <div class="collapse" id="collapse_${user._id}">
                                                    <div class="mt-3">
                                                        <p><strong>Description:</strong> ${user.summary} </p>
                                                        <p><strong>University:</strong> ${user.university} </p>
                                                        <p><strong>Degree:</strong> ${user.degree} </p>
                                                        <p><strong>Program:</strong> ${user.program} </p>  
                                                        <p><strong>Address:</strong> ${user.address} </p>  
                                                        <p><strong>Other Certificate:</strong> ${user.otherCert} </p>                                                    </div>
                                                </div>
                                                <a class="btn red  white-text" data-toggle="collapse" href="#collapse_${user._id}" aria-expanded="false" aria-controls="collapseExample">
                                                    More
                                                </a>
                                                <button class="btn grey white-text" type="button" >
                                                    Delete
                                                </button>
                                            </div>
                                        </div>`));
                                    },
                                    error: function (request, status, error) {
                                        $("p#errorSpace").html(request.responseText);
                                    }
                                });
                            });
                            currProj.participants = participants;
                            console.log("participant  ", participants);
                        }
                    },
                    error: function (request, status, error) {
                        $("p#errorSpace").html(request.responseText);
                    }
                });
        }

        $(document).ready(function () {
          $("#deleteBtn").click(function () {
            alert("This button is suppose to delete the project from the database. We are still working on this function.");
          });
          $("#endBtn").click(function () {
            alert("This button is suppose to archive the Project, saving it in the database as a finished project in a \"read-only\" mode. Allowing users to view it, but not modify it. We are still working on this function.");
          });
            $("#saveBtn").click(function () {

                var newProjData = {
                    "title": projTitle.val(),
                    "abstract": projAbstract.val(),
                    "imgURL": projImg.val(),
                    //"managerId": currUser._id,
                    "collaborators": [],
                    "PhD": isPHD.val() == 1 ? true : false,
                    "program": $("#form-contact-program option:selected").text(),
                    "researchArea": projResArea.val(),
                    "availableSpots": projStudent.val(),
                    "financialAid": projAid.val(),
                    "comments": projComments.val(),
                    "finished": _programFinished.is(':checked'),
                    "conclusion": projConcl.val(),
                    "results": projRes.val(),
                    "specialThanks": projThanks.val(),
                    "participants": [],
                    "startDate": projStart.val(),
                    "endDate": projEnd.val(),
                    "notifications": [],
                    "skills": {
                        "english": _english.is(':checked'),
                        "maths": _maths.is(':checked'),
                        "comp": _comp.is(':checked'),
                        "music": _music.is(':checked'),
                        "noSkills": _noSkills.is(':checked')
                    }
                }
                console.log("UPDATING PROJECT!", newProjData, queryURL, queryType);
                $.ajax
                    ({
                        url: queryURL,
                        data: newProjData,
                        type: queryType,
                        success: function (newProject) {
                            console.log(newProject);
                            if(currProj == null){
                                goTo(`/research?id=${newProject._id}`);
                            }else{
                                goTo(`/research?id=${currProj._id}`);
                            }
                        },
                        error: function (request, status, error) {
                            $("p#errorSpace").html(request.responseText);
                        }
                    });
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>
