<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>
</head>

<body>
    <!-- <header>
        < include ../partials/header %>
    </header> -->
    <% include ../partials/navbar %>
    <main class="container">
        <!-- Section: Contact v.3 -->
        <section class="contact-section my-5">

            <!-- Form with header -->
            <div class="card"> <!-- The "box" containing the questionaire -->

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-12">

                        <div class="card-body form"> <!-- This is where the border is created -->

                            <!-- Header -->
                            <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Create New/Edit Project:</h3>

                            <div class="row"> <!-- row 1 -->
                                <!-- Grid column -->
                                <div class="col-md-12"> <!-- row 1, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-project_title" class="form-control">
                                        <label for="form-contact-project_title" class="">Project Title</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>

                            <div class="row"> <!-- row 2 -->

                                <!-- Grid column -->
                                <div class="col-md-12"> <!-- row 2, col 1 -->
                                    <div class="md-form mb-0">
                                        <textarea type="text" id="form-contact-Abstract" class="form-control md-textarea"
                                            rows="3"></textarea>
                                        <label for="form-contact-Abstract">Project Description (Abstract)</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div>

                            <div class="row"> <!-- row 3 -->

                                <!-- Grid column -->
                                <div class="col-md-6"> <!-- row 3, col 1 -->
                                    <div class="md-form mb-0">
                                      <select class="browser-default custom-select" id="form-contact-possible_collaborators">
                                      <option selected>Project Manager</option>
                                      <option value="1">Fiech, Adrien</option>
                                      <option value="2">Mata-Montero, Manrique</option>
                                      <option value="3">Miklos, Bartha</option>
                                      <option value="4">Chen, Yuanzhu</option>
                                      </select>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-6"> <!-- row 3, col 2 -->
                                    <div class="md-form mb-0">
                                          <select class="browser-default custom-select" id="form-contact-possible_collaborators">
                                          <option selected>Collaborators</option>
                                          <option value="1">Fiech, Adrien</option>
                                          <option value="2">Mata-Montero, Manrique</option>
                                          <option value="3">Miklos, Bartha</option>
                                          <option value="4">Chen, Yuanzhu</option>
                                          </select>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div>

                            <div class="row"> <!-- row 4 -->

                              <!-- Grid column -->
                              <div class="col-sm-2"> <!-- row 4, col 1 -->
                                  <div class="md-form mb-0">
                                        <p>MSc or PhD:</p>
                                  </div>
                              </div>
                              <!-- Grid column -->
                              <!-- Grid column -->
                              <div class="col-sm-1"> <!-- row 4, col 2 -->
                                  <div class="md-form mb-0">
                                    <select class="browser-default custom-select" id="form-contact-msc_or_phd">
                                    <option selected></option>
                                    <option value="1">MSc</option>
                                    <option value="2">PhD</option>
                                    </select>
                                  </div>
                              </div>
                              <!-- Grid column -->
                              <!-- Grid column -->
                              <div class="col-sm-2"> <!-- row 4, col 3 -->
                                  <div class="md-form mb-0">
                                        Program:
                                  </div>
                              </div>
                              <!-- Grid column -->
                              <!-- Grid column -->
                              <div class="col-sm-2"> <!-- row 4, col 2 -->
                                  <div class="md-form mb-0">
                                    <select class="browser-default custom-select" id="form-contact-possible_collaborators">
                                    <option selected></option>
                                    <option value="1">Computer Science/Engineering</option>
                                    <option value="2">Computational chemistry </option>
                                    <option value="3">Physics</option>
                                    <option value="4">Mathematics</option>
                                    <option value="5">Marine Biology</option>

                                    </select>
                                  </div>
                              </div>
                              <!-- Grid column -->
                            </div>

                            <div class="row"> <!-- row 4 -->
                              <div class="col-sm-1"> <!-- row n, col 2 -->
                                <p></p>
                                <hr>
                                <a class="btn-floating btn-lg blue">
                                    <i class="fa fa-send-o"></i>
                                </a>
                              </div>
                            </div>






                        </div> <!-- This div ends the border -->

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->

            </div>
            <!-- Form with header -->

        </section>
        <!-- Section: Contact v.3 -->
    </main>
    <% include ../partials/mdscripts %>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>
