<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <% include ../partials/mdhead %>
</head>

<body style="background-color: rgb(230, 230, 230);">

    <% include ../partials/navbar %>
    <main class="flex-center flex-column animated fadeIn mb-4">
        <!-- Default form register -->
        <form action="/signup" method="post" class="text-center border border-light p-5" style="background-color:white;">

            <p class="h4 mb-4">Sign up</p>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                </div>
            </div>

            <!-- E-mail -->
            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
                aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>

            <!-- Sign up button  type="submit" -->
            <a id="submitBtn" type="submit" class="btn red my-4 btn-block">Sign up</a>

            <br>
            <br>
            <a class="light-blue-text mx-2" href="/login">
                Login to an existing account.
            </a>
            <hr>

            <a class="light-blue-text mx-2" href="/">
                Home Page
            </a>

        </form>
        <!-- Default form register -->
    </main>
    <% include ../partials/mdscripts %>

    <script>
        
        
    </script>
</body>
<footer>
</footer>

</html>
