<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <!-- ../partials/mdhead contains the css, javascript and configuration information of the page -->
    <% include ../partials/mdhead %>

</head>

<body>

    <% include ../partials/navbar %>
    <main class="container">
        <!-- Section: Contact v.3 -->
        <section class="contact-section my-5">   <!-- This is the beginning of the box containing the questionaire -->

            <!-- Form with header -->
            <div class="card"> <!-- This div creates a margin around our form -->

                <!-- Grid row -->
                <div class="row">    <!-- I'm going to call this row A -->
                    <!-- Grid column -->
                    <div class="col-lg-12"><!-- I'm going to call this Col A -->

                        <div class="card-body form"> <!-- Just some decorations for the form -->

                            <!-- Header -->
                            <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Profile Information:</h3>
                            <p>Please provide accurate and true information, as this information will influence your acceptance process. The list of your available projects will directly depend on your answers here, and keep in mind that the Project Managers(and/or Professors) will be able to view most of the information here.  </p>
                            <p></p>
                            <!-- Grid row -->


                            <div class="row">  <!-- "Just a Divider Section" -->
                                <div class="col-md-12">
                                  <hr>
                                  <p><b>Section 1: First Impressions</b></p>
                                </div>
                            </div>


                            <!-- Grid row -->
                            <div class="row"> <!-- beginning of row 1  -->

                                <!-- Grid column -->
                                <div class="col-md-12"> <!-- row 1, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-full_name" class="form-control">
                                        <label for="form-contact-full_name" class="">Full Name</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!-- end of row 1 -->
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row"> <!--  Row 2  -->
                                <!-- Grid column -->
                                <div class="col-md-12">  <!--  Row 2, Col 1  -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-AboutMe" class="form-control">
                                        <label for="form-contact-AboutMe" class="">Summary or Profile (500 Char Max)</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!--  End of Row 2  -->
                            <!-- Grid row -->

                            <div class="row">  <!-- "Just a Divider Section" -->
                                <div class="col-md-12">
                                  <hr>
                                  <p><b>Section 2: Important Contact Information</b></p>
                                </div>
                            </div>

                            <!-- Grid row -->
                            <div class="row">  <!-- row 3 -->

                                <!-- Grid column -->
                                <div class="col-md-4"> <!-- row 3, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-DoB" class="form-control">
                                        <label for="form-contact-DoB" class="">Date of Birth (DD-MM-YYYY)</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 3, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-nationality" class="form-control">
                                        <label for="form-contact-nationality" class="">Nationality</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 3, col 3 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-gender" class="form-control">
                                        <label for="form-contact-gender" class="">Gender(Male,Female,Other)</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!-- End of row 3 -->

                            <div class="row">  <!-- row 4 -->
                                <!-- Grid column -->
                                <div class="col-md-12">  <!-- row 4, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-address" class="form-control">
                                        <label for="form-contact-address" class="">Current Address </label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div> <!-- end of row 4 -->

                            <div class="row">  <!-- row 5 -->

                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 5, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-email" class="form-control">
                                        <label for="form-contact-email" class="">E-mail</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 5, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-phone" class="form-control">
                                        <label for="form-contact-phone" class="">Phone Number</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div> <!-- end of row 5-->


                            <div class="row">  <!-- "Just a Divider Section" -->
                                <div class="col-md-12">
                                  <hr>
                                  <p><b>Section 3: Educational Background</b></p>
                                </div>
                            </div>


                            <div class="row">  <!-- row 6 -->
                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 6, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-degree" class="form-control">
                                        <label for="form-contact-degree" class="">Highest Degree Obtained</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 6, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-university" class="form-control">
                                        <label for="form-contact-university" class="">University</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div> <!-- end of row 6 -->

                            <div class="row">  <!-- row 7-->
                                <!-- Grid column -->
                                <div class="col-md-12">  <!-- row 7, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-certificates" class="form-control">
                                        <label for="form-contact-certificates" class="">Other Certificates or Degrees</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div> <!-- end of row 7 -->

                            <div class="row">  <!-- "Just a Divider Section" -->
                                <div class="col-md-12">
                                  <hr>
                                  <p><b>Section 4: Work Experience</b></p>
                                </div>
                            </div>

                            <div class="row">  <!-- row 8 -->
                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 8, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-job1_employeer" class="form-control">
                                        <label for="form-contact-job1_employeer" class="">Last Employeer</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 8, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-job1_title" class="form-control">
                                        <label for="form-contact-job1_title" class="">Job Title</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 8, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-job1_duration" class="form-control">
                                        <label for="form-contact-job1_duration" class="">Duration</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!-- end of row 8 -->

                            <div class="row">  <!-- row 9 -->
                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 9, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-job2_employeer" class="form-control">
                                        <label for="form-contact-job2_employeer" class="">Second to Last Employeer</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 9, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-job2_title" class="form-control">
                                        <label for="form-contact-job2_title" class="">Job Title</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-4">  <!-- row 9, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-job2_duration" class="form-control">
                                        <label for="form-contact-job2_duration" class="">Duration</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!-- end of row 9 -->

                            <div class="row">  <!-- "Just a Divider Section" -->
                                <div class="col-md-12">
                                  <hr>
                                  <p><b>Section 5: Program Related Information</b></p>
                                </div>
                            </div>


                            <div class="row">  <!-- row 10 -->
                                <!-- Grid column -->
                                <div class="col-md-12">  <!-- row 10, col 1 -->
                                  <div class="md-form mb-0">

                                      <select class="browser-default custom-select" id="form-contact-programs">
                                      <option selected>Program you are applying for</option>
                                      <option value="1">Computer Science (MSc)</option>
                                      <option value="2">Computer Science (PhD)</option>
                                      <option value="3">Mathematics (MSc)</option>
                                      <option value="4">Mathematics (PhD)</option>
                                      <option value="5">Computational Chemistry (MSc)</option>
                                      <option value="6">Computational Chemistry (PhD)</option>
                                      </select>
                                  </div>

                                </div>
                                <!-- Grid column -->
                            </div> <!-- end of row 10 -->

                            <div class="row">  <!-- row 11 -->
                                <!-- Grid column -->
                                <div class="col-md-12">  <!-- row 11, col 1 -->
                                  <hr>
                                  <p> Skills: </p>
                                  <!-- Default inline 0-->
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="physics">
                                    <label class="custom-control-label" for="physics">Physics</label>
                                  </div>

                                  <!-- Default inline 1-->
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="maths">
                                    <label class="custom-control-label" for="maths">Mathematics</label>
                                  </div>

                                  <!-- Default inline 2-->
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="python">
                                    <label class="custom-control-label" for="python">Python</label>
                                  </div>

                                  <!-- Default inline 3-->
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="Web_Development">
                                    <label class="custom-control-label" for="Web_Development">Web Development</label>
                                  </div>

                                </div>
                                <!-- Grid column -->
                            </div> <!-- end of row 11 -->


                      <!--      <div class="row">  <!-- row N -->
                                <!-- Grid column -->
                      <!--          <div class="col-md-12">  <!-- row N, col M -->
                      <!--              <div class="md-form mb-0">
                                        <input type="text" id="form-contact-sample" class="form-control">
                                        <label for="form-contact-sample" class="">Just a default field</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                      <!--      </div> <!-- end of row N -->

                            <!-- Grid row -->

                        </div>

                    </div> <!-- End of Column B -->
                    <!-- Grid column -->
                </div> <!-- End of Row A -->
                <!-- Grid row -->

                  <!-- These are just the buttons to Submit or Save -->
                    <div class="align-center text-center m-3">
                      <a class="btn btn-primary" href="/home">Submit</a>
                      <a class="btn btn-primary" href="/home">Save for later</a>
                      <br />
                    </div>

        </div> <!-- This is the end of the div that creates the margin around the box -->




        </section>  <!-- This would be the end of the box containing the questionaire -->
        <!-- Section: Contact v.3 -->
    </main>
    <% include ../partials/mdscripts %>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>
