<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" style="height: 100vh">

<head>
    <!-- ../partials/mdhead contains the css, javascript and configuration information of the page -->
    <% include ../partials/mdhead %>

</head>

<body>

    <% include ../partials/navbar %>
    <main class="container">
        <!-- Section: Contact v.3 -->
        <section class="contact-section my-5">   <!-- This is the beginning of the box containing the questionaire -->

            <!-- Form with header -->
            <div class="card"> <!-- This div creates a margin around our form -->

                <!-- Grid row -->
                <div class="row">    <!-- I'm going to call this row A -->
                    <!-- Grid column -->
                    <div class="col-lg-12"><!-- I'm going to call this Col A -->

                        <div class="card-body form"> <!-- Just some decorations for the form -->

                            <!-- Header -->
                            <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Profile Information:</h3>
                            <p>Please provide accurate and true information, as the system will take into consideration your answers for the project matchings. The list of your available projects will directly depend on your answers here, and keep in mind that the Project Managers(and/or Professors) will be able to view most of the information here.  </p>

                            <!-- Grid row -->
                            <div class="row"> <!--  Row 1  -->

                                <!-- Grid column -->
                                <div class="col-md-4">  <!--  Row 1, Col 1  -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-name" class="form-control">
                                        <label for="form-contact-name" class="">Your name</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-4"> <!--  Row 1, Col 2  -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-email" class="form-control">
                                        <label for="form-contact-email" class="">Your email</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-4"> <!--  Row 1, Col 3  -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-DOB" class="form-control">
                                        <label for="form-contact-DOB" class="">Your Date of Birth</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!--  End of Row 1  -->
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row"> <!-- beginning of row 2  -->

                                <!-- Grid column -->
                                <div class="col-md-6"> <!-- row 2, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-phone" class="form-control">
                                        <label for="form-contact-phone" class="">Your phone</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-6"> <!-- row 2, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-company" class="form-control">
                                        <label for="form-contact-company" class="">Age</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!-- end of row 2 -->
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row">  <!-- row 3 -->

                                <!-- Grid column -->
                                <div class="col-md-6"> <!-- row 3, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-phone" class="form-control">
                                        <label for="form-contact-phone" class="">Interest 1</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 3, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-company" class="form-control">
                                        <label for="form-contact-company" class="">Interest 2</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div> <!-- End of row 3 -->
                            <div class="row">  <!-- row 4 -->

                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 4, col 1 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-phone" class="form-control">
                                        <label for="form-contact-phone" class="">Interest 3</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-6">  <!-- row 4, col 2 -->
                                    <div class="md-form mb-0">
                                        <input type="text" id="form-contact-company" class="form-control">
                                        <label for="form-contact-company" class="">Interest 4</label>
                                    </div>
                                </div>
                                <!-- Grid column -->


                            </div> <!-- end of row 4 -->
                            <!-- Grid row -->

                        </div>

                    </div> <!-- End of Column B -->
                    <!-- Grid column -->
                </div> <!-- End of Row A -->
                <!-- Grid row -->

                  <!-- These are just the buttons to Submit or Save -->
                    <div class="align-center text-center m-3">
                      <a class="btn btn-primary" href="/home">Submit</a>
                      <a class="btn btn-primary" href="/home">Save for later</a>
                      <br />
                    </div>

        </div> <!-- This is the end of the div that creates the margin around the box -->




        </section>  <!-- This would be the end of the box containing the questionaire -->
        <!-- Section: Contact v.3 -->
    </main>
    <% include ../partials/mdscripts %>
</body>
<footer>
    <% include ../partials/footer %>
</footer>

</html>
